<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<context-param>
  	<param-name>contentType</param-name>
  	<param-value>text/html; charset=UTF-8</param-value>
  </context-param>
  <context-param>
  	<param-name>dbURL</param-name>
  	<param-value>jdbc:mysql://localhost/bookshop</param-value>
  </context-param>

    <servlet>
    <servlet-name>SAVE</servlet-name>
    <servlet-class>a.b.c.SAVE</servlet-class>
  </servlet>
      <servlet>
    <servlet-name>SAVE2</servlet-name>
    <servlet-class>a.b.c.SAVE2</servlet-class>
  </servlet>
      <servlet>
    <servlet-name>SHOW</servlet-name>
    <servlet-class>a.b.c.SHOW</servlet-class>
  </servlet>
       <servlet>
    <servlet-name>SHOW2</servlet-name>
    <servlet-class>a.b.c.SHOW2</servlet-class>
  </servlet>
        <servlet>
    <servlet-name>LOAD</servlet-name>
    <servlet-class>a.b.c.LOAD</servlet-class>
  </servlet>
          <servlet>
    <servlet-name>LOAD2</servlet-name>
    <servlet-class>a.b.c.LOAD2</servlet-class>
  </servlet>
          <servlet>
    <servlet-name>LOADPOST</servlet-name>
    <servlet-class>a.b.c.LOADPOST</servlet-class>
  </servlet>
            <servlet>
    <servlet-name>LOADPOST2</servlet-name>
    <servlet-class>a.b.c.LOADPOST2</servlet-class>
  </servlet>

	<servlet>
		<servlet-name>abcd</servlet-name>
		<servlet-class>a.b.c.SERServlet</servlet-class>
	</servlet>	
    <servlet-mapping>
    <servlet-name>SAVE</servlet-name>
    <url-pattern>/SAVE</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>SAVE2</servlet-name>
    <url-pattern>/SAVE2</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
    <servlet-name>SHOW</servlet-name>
    <url-pattern>/SHOW</url-pattern>
  </servlet-mapping>
        <servlet-mapping>
    <servlet-name>SHOW2</servlet-name>
    <url-pattern>/SHOW2</url-pattern>
  </servlet-mapping>
        <servlet-mapping>
    <servlet-name>LOAD</servlet-name>
    <url-pattern>/LOAD</url-pattern>
  </servlet-mapping>
         <servlet-mapping>
    <servlet-name>LOAD2</servlet-name>
    <url-pattern>/LOAD2</url-pattern>
  </servlet-mapping>
          <servlet-mapping>
    <servlet-name>LOADPOST</servlet-name>
    <url-pattern>/LOADPOST</url-pattern>
  </servlet-mapping>
            <servlet-mapping>
    <servlet-name>LOADPOST2</servlet-name>
    <url-pattern>/LOADPOST2</url-pattern>
  </servlet-mapping>


	<servlet-mapping>
		<servlet-name>abcd</servlet-name>
		<url-pattern>/abcx</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>